# Log files
*.log

# Latex auxiliary files
*.aux
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.pytxcode

# Editors
*.swp
*.bak
*~

# Output files
*.dvi
*.ps

# MacOS & Windows
.DS_Store
Thumbs.db

# Inkscape
.svg:Zone.Identifier

# Glossaries auxiliary files
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# Code folder
code/*
